html, body {
	height:100%;
	background-color: #536874;
}

body {
	margin:0;
	padding:0;
	overflow:hidden;
	background: #536874;
	background: linear-gradient(#647D8C, #394851);
	background: -webkit-linear-gradient(#647D8C, #394851);
	background:    -moz-linear-gradient(#647D8C, #394851);
	background:     -ms-linear-gradient(#647D8C, #394851);
	background:      -o-linear-gradient(#647D8C, #394851);
}

#flashContentFixed {
	width: 1024px;
	height: 640px;
	left: 50%;
	top: 50%;
	margin: -320px 0 0 -512px;
	position: absolute;
}